*.todo
*.json
*.xlsx
# DEFINITION: ignore file that's in the repo
# CREDIT: https://www.git-scm.com/docs/git-update-index
# CREDIT: https://stackoverflow.com/a/7232354/8013879
# git update-index --assume-unchanged .\mc_parameters.json
